@model Lab01_1104017_1169317.Jugador

@using (Html.BeginForm("UploadFile", "Jugador", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary();

    <br />
    <div class="row">
        <div class="col-md-12">
            <h2 align="center">Agregar con Archivo</h2>
            <p align="center">
                Para agragar un gurpo de personas a través de un archivo .csv
            </p>

            <div align="center" class="form-group">
                <input type="file" name="file" value="Examinar" class="btn-default" style="color:transparent" />
            </div>
            <div align="center" class="form-group">
                <button type="submit" class="btn btn-default">Subir archivo</button>
            </div>

        </div>
    </div>
}

<br />

@using (Html.BeginForm("DeleteFile", "Jugador", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary();


    <div class="row">

        <div class="col-md-12">
            <h2 align="center">Eliminar con Archivo</h2>
            <p align="center">
                Para eliminar un grupo de personas a través de un archivo .csv
            </p>

            <div align="center" class="form-group">
                <input type="file" name="file" value="Examinar" class="btn-default" style="color:transparent" />
            </div>
            <div align="center" class="form-group">
                <button type="submit" class="btn btn-default">Subir archivo</button>
            </div>
        </div>
    </div>

    <div>
        <br />
        <div> @Html.ActionLink("Ver Jugadores", "Index", "Jugador") </div>
        <div> @Html.ActionLink("Regresar al menu principal", "Index", "Home")</div>
        <br />
    </div>

}