@model IEnumerable<Lab01_1104017_1169317.Jugador>

@{
    ViewBag.Title = "Lista de Jugadores";
}

<h2>Lista de Jugadores</h2>

<p>
    <br />
    <div> @Html.ActionLink("Crear Nuevo Jugador Manual", "CreateArtesanal", "JugadorArtesanal")</div>
    <div> @Html.ActionLink("Cargar Archivo de Jugadores", "UploadFileArtesanal")</div>
    <div> @Html.ActionLink("Regresar al menu principal", "Index", "Home")</div>
    <br />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Posición)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Club)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posición)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditArtesanal", new { id = item.ID }) |
                @*@Html.ActionLink("Details", "DetailsArtesanal", new { id=item.ID }) |*@
                @Html.ActionLink("Eliminar", "DeleteArtesanal", new { id = item.ID })
            </td>
        </tr>
    }

</table>